<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Current Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model.Assets)
        {
            <tr>
                <td>@asset.Symbol</td>
                <td>@asset.AssetType</td>
                <td>@asset.Quantity</td>
                <td>@asset.CurrentPrice</td>
            </tr>
        }
    </tbody>
</table>
